
[mysqld]
user=mysql
character-set-server=utf8mb4
default-storage-engine=INNODB
innodb_default_row_format=DYNAMIC
innodb_large_prefix=ON
innodb_file_format=Barracuda
max_allowed_packet=256M
innodb_log_file_size=2GB
# transaction_isolation=READ-COMMITTED
innodb_buffer_pool_size=2G
binlog_format=row
default_authentication_plugin=mysql_native_password
log_timestamps=SYSTEM

[client]
default-character-set=utf8

[mysql]
default-character-set=utf8
